<div class="w-full md:w-1/2" id="header">
    <div class="w-full mx-auto sm:w-3/5">
        <img src="../../img/logo.png" alt="logo">
    </div>
    <h1 class="uppercase text-center my-3 text-sm font-bold sm:text-xl"><%= title %></h1>
    <p class="capitalize text-[11px] font-light text-center max-w-56 block mx-auto mb-4 text-pretty sm:text-base"><%= greeting %></p>
</div>