<div class="flex justify-center items-center flex-col h-screen">
    <img src="../img/error.png" alt="" class="w-64">
    <h1 class="text-red-700 font-bold text-xl">This Pages Doesn't Exist</h1>
</div>