<main class="flex justify-center items-center h-screen">
    <div class="w-full h-96 bg-sky-300 md:mx-14 mx-5 p-5 rounded-2xl">
        <h1 class="text-center font-bold text-4xl">Login</h1>
    </div>
</main>