<!-- register start -->
<section class="min-h-screen px-12 py-5 flex items-center">
    <div class="auth-box">

        <%- include("../layouts/authLayouts/headerAuth.ejs") %>
        
        <div class="w-full md:w-1/2 md:order-first">
            <form action="/auth/register?role=<%= role %>" method="post">
                <div class="border border-primary-5/60 rounded-lg overflow-hidden mb-5">
                    <div class="flex text-center text-xs overflow-hidden bg-slate-50 sm:text-sm"
                        id="form">
                        <a href="/auth/register?role=customers" class="option-input">As Customer</a>
                        <a href="/auth/register?role=sellers" class="option-input">As Seller</a>
                    </div>
                    <div class="relative py-3 px-3 md:py-5">

                        <% if (error.msg.length > 0)  { %>
                            <%- include("../layouts/authLayouts/inputRegisterError.ejs") %>
                        <% } else { %>
                            <%- include("../layouts/authLayouts/inputRegister.ejs") %>
                        <% } %>

                    </div>
                </div>

                <button type="submit" class="btn-primary mb-5">register</button>
                <p class="text-center text-xs sm:text-sm md:text-base">have an account? <a href="/auth/login?role=customers" class="block underline text-primary-5 hover:text-primary-7 md:inline">Sign in</a></p>
            </form>
        </div>
    </div>
</section>
<!-- register end -->
<script>
    // optionform
    const [customer, seller] = Array.from(document.getElementById("form").children);
    if (window.location.search === "?role=customers") customer.classList.add("form-active");
    if (window.location.search === "?role=sellers") seller.classList.add("form-active");

    // visible password
    const viewPass = document.getElementById("viewPass1");
    viewPass.addEventListener("click", () => {
        const inputPass = document.getElementById("password1");
        if (viewPass.classList.contains("viewPassword")) {
            viewPass.src = "../img/view.png";
            inputPass.type = "password";
            viewPass.classList.remove("viewPassword");
        } else {
            viewPass.src = "../img/unview.png";
            inputPass.type = "text";
            viewPass.classList.add("viewPassword");
        };
    });

    // visible confirm password
    const viewPass2 = document.getElementById("viewPass2");
    viewPass2.addEventListener("click", () => {
        const inputPass = document.getElementById("password2");
        if (viewPass2.classList.contains("viewPassword")) {
            viewPass2.src = "../img/view.png";
            inputPass.type = "password";
            viewPass2.classList.remove("viewPassword");
        } else {
            viewPass2.src = "../img/unview.png";
            inputPass.type = "text";
            viewPass2.classList.add("viewPassword");
        };
    });
</script>