<div class="flex justify-center items-center flex-col h-screen">
    <div class="w-44 sm:w-52 md:w-64">
        <img src="../../img/success.png" alt="success">
    </div>
    <h1 class="text-green-700 font-bold text-sm mb-6 sm:text-base md:text-xl">your account has been created</h1>
    <a href="/auth/login?role=<%= role %>" class="btn-primary mb-5">back to login &rarr;</a>
</div>